<app-title-bar [pageTitle]="pageTitle"></app-title-bar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title color="primary">{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-article-reader [article]="article" [isEditMode]="isEditMode"></app-article-reader><br/>
        <hr />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-grid *ngIf="article">
          <form [formGroup]="createArticleForm" (ngSubmit)="submitCreateArticleForm()" ngNativeValidate>
            <ion-row class="ion-justify-content-left ion-align-items-end">
              <ion-col size="12">
                <ion-input formControlName="title" size="large" class="article-title" placeholder="Title..." minlength="3"
                  (ionChange)="updateArticleTitle($event.target.value)"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="createError" class="ion-justify-content-center">
              <ion-col size="auto" style="margin-bottom:1em">
                <ion-label color="danger">{{ createError }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="12">
                <ion-textarea formControlName="content" class="article-content" rows="10" placeholder="Content here..."
                (ionChange)="updateArticleContent($event.target.value)"></ion-textarea>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="isSubmitting" style="display:none">
              <ion-col>
                <button id='submitPubBtn'>Submit</button>
              </ion-col>
            </ion-row>
          </form>
          <ion-row *ngIf="addTagError" class="ion-justify-content-center">
            <ion-col size="auto" style="margin:1em">
              <ion-label color="danger">{{ addTagError }}</ion-label>
            </ion-col>
          </ion-row>
          <form [formGroup]="addTagForm" (ngSubmit)="submitAddTagForm()" ngNativeValidate>
            <ion-row class="tag-row">
              <ion-col size="12" size-lg="4" push-lg="6" class="tag-preview">
                <ion-label position="stacked" color="tertiary">Tag Preview</ion-label><br/>
                <ion-chip color="dark">{{ convertTagSlug(addTagForm.get('tag').value) }}</ion-chip>
              </ion-col>
              <ion-col size="9" size-lg="4" pull-lg="4" class="add-tag">
                <ion-label position="stacked" color="secondary">Add Tag</ion-label>
                <ion-input formControlName="tag" placeholder="tag name..." minlength="3" debounce="0" required></ion-input>
              </ion-col>
              <ion-col size="1" pull-lg="4.15" class="ion-align-self-start">
                <button class="add-tag-btn ion-activatable ripple-parent">
                  <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                  <ion-icon name="add-circle-outline" color="success"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </form>
          <ion-row *ngIf="requestError" class="ion-justify-content-center">
            <ion-col size="auto">
              <ion-text color="danger">{{ requestError }}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center" style="margin:1em">
            <ion-col size="auto">
              <ion-button (click)="submitPublish()">Publish</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
