ion-grid {
    width: 100%;
    padding: 0 1em;
}

ion-col {
    padding: 0;
}

.tag-zone {
    color: var(--ion-color-primary);
    background-color: #ececec;
    margin: 0.25em 0.5em;
    padding: 1em 0.25em;
    text-align: center;
    overflow-x: scroll!important;
}

.tag-label {
    padding: 0.25em 0.5em;
    overflow: scroll;
}

.article-title {
    font-weight: bold;
    font-size: 2.5em;
    color: var(--ion-color-primary)
}

.article-content {
    padding: 0.5em;
    line-height: 1.5em;
    font-size: 1.2em;
    border: 0.25em solid var(--ion-color-primary);
    border-radius: 0.25em;
    border-style: inset;
    min-height: 40vh !important;
}

.author {
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
    // padding: 0.2em;
}

.subtitle-note {
    font-size: 0.7em;
    font-style: italic;
    font-weight: bold;
    opacity: 0.8;
    margin: 1em;
}
