<ion-grid *ngIf="article">
  <ion-row class="ion-justify-content-left">
    <ion-col size="12">
      <br/>
      <ion-text size="large" class="article-title">{{ article.title }}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-left">
    <ion-col size="12">
      <ion-note class="subtitle-note">WRITTEN BY </ion-note>
      <ion-text color="secondary" class="author">{{ article.author }}</ion-text>
      <br/>
      <ion-note class="subtitle-note">Last Updated: {{ article.updatedAt }}</ion-note><br/><br/>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center" nowrap>
    <ion-col size="12" size-lg="9.25">
      <div class="article-content" [innerHTML]="article.markdown | safeHTML"></div>
    </ion-col>
    <ion-col size="11.5" size-lg="2.5" class="tag-zone">
      <ion-text>Tags</ion-text><br/><br/>
      <ion-chip *ngFor="let tag of article.tags; index as tagIdx" (click)="navChipTag(tag)">
        <ion-label class="tag-label">{{ tag }}</ion-label>
        <ion-icon name="close-circle" *ngIf="isEditMode" (click)="removeTag(tagIdx)"></ion-icon>
      </ion-chip>
    </ion-col>
  </ion-row>
</ion-grid>
