ion-content.content {
    --background: var(--ion-color-dark);
}

.blog-search {
    padding: 0;
}

.filter-search ion-searchbar {
    --background: var(--ion-color-light);
    --border-radius: 1em;
    --box-shadow: 0.05em 0.05em rgba(0, 0, 0, 0.576);
    padding: 0.25em;
}

.filter-list {
    padding: 0;
}

.list-item {
    padding: 0;
    font-weight: bold;
    color: white;
    --background: var(--ion-color-dark);
    --border-color: gray;
}

.title {
    font-size: 1.25em;
    font-weight: bold;
    // text-decoration: underline;
}

.tags-title {
    padding: 0;
}

.tags-title > ion-chip {
    --background: var(--ion-color-light);
    color: var(--ion-color-dark);
    border: 2px solid gray;
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
}

.authors-title {
    padding: 0;
}

.authors-title > ion-chip {
    --background: var(--ion-color-light);
    color: var(--ion-color-secondary);
    border: 2px solid gray;
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
}

.tags-grid {
    min-height: 42vh !important;
    max-height: 55vh !important;
    overflow: scroll;
}

.tags-grid-compact {
    max-height: 25vh !important;
    overflow: scroll;
}

.authors-grid {
    min-height: 42vh !important;
    max-height: 55vh !important;
    overflow: scroll;
}

.authors-grid-compact {
    max-height: 25vh !important;
    overflow: scroll;
}

.toolbar {
    --background: var(--ion-color-dark);
    --border-color: var(--ion-color-light);
    --padding-top: 1vh;
    --padding-bottom: 1vh;
}