<ion-content class="content">
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-title color="light" class="title">Filters</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()" expand="block" shape="round" fill="outline" color="light">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto" class="tags-title">
              <ion-chip>Tags</ion-chip>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-justify-content-center filter-search">
              <ion-searchbar #tagSearchBar showCancelButton="never" debounce="250" (ionChange)="doTagSearch($event.target.value)"></ion-searchbar>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid [ngClass]="platform.width() >= 992 ? 'tags-grid' : 'tags-grid-compact'">
          <ion-row>
            <ion-col class="ion-justify-content-center">
              <ion-list class="filter-list" lines="full">
                <ion-item *ngFor="let tag of searchTags" (click)="selectTag(tag, tagSearchBar.getInputElement())" class="list-item">
                  {{ tag }}
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto" class="authors-title">
              <ion-chip>
                <ion-icon name="person" color="secondary"></ion-icon>
                <ion-label>Authors</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-justify-content-center filter-search">
              <ion-searchbar #authorSearchBar showCancelButton="never" debounce="250" (ionChange)="doAuthorSearch($event.target.value)"></ion-searchbar>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid [ngClass]="platform.width() >= 992 ? 'authors-grid' : 'authors-grid-compact'">
          <ion-row>
            <ion-col class="ion-justify-content-center">
              <ion-list class="filter-list" lines="full">
                <ion-item *ngFor="let author of searchAuthors" (click)="selectAuthor(author, authorSearchBar.getInputElement())" class="list-item">
                  {{ author }}
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>