ion-grid {
    width: 100%;
    padding: 0.5em 1em;
  }
  
  ion-col {
    padding: 0;
    margin: 0;
  }
  
  hr {
    border: 0.1em solid black;
  }
  
  .add-tag {
    margin: 0 0 0 0.5em;
    padding: 1em 0 1em 0.5em;
    font-size: 1.5em;
    font-weight: bold; 
    overflow-x: scroll !important;
  }
  
  .add-tag ion-input {
    color: black;
    border-bottom: thin solid black;
  }
  
  .add-tag-btn {
    position: relative;
    overflow: hidden;
    font-size: 2em;
    margin: 1.38em 0 0 0;
    padding: 0.5em;
    background: #ececec;
  }
  
  .article-title {
    font-weight: bold;
    font-size: 2em;
    color: var(--ion-color-secondary)
  }
  
  .article-content {
    padding: 0.5em;
    margin: 0 0 1em 0;
    line-height: 1.5em;
    font-size: 1em;
    border: 0.25em solid var(--ion-color-medium);
    border-radius: 0.25em;
    border-style: inset;
    min-height: 25vh !important;
  }
  
  .tag-preview {
    padding: 0.85em;
    margin: 0;
    // margin: 0 0 1.75em 0;
    --background: #ececec;
    border: thin solid var(--ion-color-tertiary);
    opacity: 0.75;
    overflow-x: scroll !important;
  }
  
  .tag-preview ion-label {
    font-size: 1.3em;
  }
  
  .tag-preview ion-chip {
    padding: 1em;
    margin: 0.4em 0 0 0;
    font-size: 1.5em;
    border-radius: 1em;
  }
  
  .tag-row {
    background: #ececec;
  }
  
  // .updated-at {
  //   font-size: 0.6em;
  //   font-style: italic;
  //   opacity: 0.8;
  // }