/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.reg-modal .modal-wrapper {
  min-height: 80vh;
}

.full-screen .modal-wrapper {
    position: absolute;
    top: 1vh;
    left: 1vw;
    display: block;
    width: 98vw;
    height: 98vh;
    border-radius: 2em;
}

.blog-search-lg {
  padding-top: 1vh;
  padding-left: 0;
  input.sc-ion-searchbar-md, input.sc-ion-searchbar-ios {
      -webkit-padding-start: 2vw !important;
      padding-inline-start: 2vw !important;
      border-radius: 2em;
  }
}

.blog-search {
  padding-top: 1vh;
  padding-left: 0;
  input.sc-ion-searchbar-md, input.sc-ion-searchbar-ios {
      -webkit-padding-start: 2vw !important;
      padding-inline-start: 5vw !important;
      border-radius: 2em;
  }
}

.blog-filter-modal {
  --backdrop-opacity: 0.1;
}

.blog-filter-modal .modal-wrapper {
  --height: 60vh;
  margin-top: 40vh;
  overflow: scroll;
}

.blog-filter-modal-lg .modal-wrapper {
  --width: 80vw;
  --height: 60vh;
  margin: 40vh 0 0 20vw;
  overflow: scroll;
}

.popover-addl-tags-lg .popover-content {
  --width: 10vw;
  overflow: scroll;
}

.popover-addl-tags .popover-content {
  --width: 35vw;
  overflow: scroll;
}
