<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-end">
      <ion-col size="auto">
        <ion-text color="secondary" style="font-size:0.8em;font-weight:bold">You're logged in as:</ion-text><br/>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-end">
      <ion-col size="auto">
        <!-- <ion-text color="dark" [style.font-size.em]="unameFontSize">{{ currentUser.username }}</ion-text><br/> -->
        <ion-text color="dark" class="uname-display">{{ currentUser.username }}</ion-text><br/>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-end">
      <ion-col size="auto">
        <ion-button (click)="logout()" color="tertiary" size="small">Logout</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>