ion-label {
    padding-bottom: 0.75em;
}

ion-input {
    line-height: 1em;
    font-size: 1.5em;
}

ion-button {
    margin: 2em 0;
}

ion-grid, ion-row, ion-col {
    padding: 0;
}

ion-toolbar > ion-buttons {
    padding: 3%;
}

re-captcha {
    transform: scale(0.8);
}

.uname-status {
    font-size: 0.85em;
    font-weight: bold;
    margin-left: 1em;
}

.uname-status-spinner {
    font-size: 0.5em;
    margin-left: 1em;
}

.uname-taken {
    --highlight-color-valid: red !important;
}

.form-input-item {
    --padding-start: 0;
    --inner-padding-start: 0;
}

.form-input-item > ion-label {
    padding-left: 1.75em;
}

.form-input {
    --padding-start: 0.5em;
    --inner-padding-start: 0.5em;
}

.md ion-toolbar {
    max-height: 10vh;
}

.md ion-title {
    margin: 1em 0 0 1em;
    padding-bottom: 1em;
}

.md ion-toolbar > ion-buttons > ion-button {
    margin: 0 1em 0 0;
}