<ion-header>
  <ion-toolbar>
    <ion-title color="tertiary">Register</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" expand="block" shape="round" fill="outline" color="tertiary">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()" ngNativeValidate>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item [class]="unameTakenStatusClass + ' form-input-item'">
                  <br/>
                  <ion-label position="stacked">Username <span style="color:red">*</span>
                    <span style="padding-left:1em;font-size:0.75em;opacity:0.7">(3-20 characters, letters & numbers only)</span>
                  </ion-label>
                  <ion-input formControlName="username" type="text" placeholder="username" pattern="^[a-zA-Z0-9]{3,20}$"
                    debounce="1000" (ionChange)="sendGetUnameAvailReq($event.target.value)" class="form-input" required></ion-input>
                </ion-item>
                <div *ngIf="isUnameAvailLoading" class="uname-status-spinner">
                  <ion-spinner name="lines-small" color="primary"></ion-spinner>
                </div>
                <div *ngIf="isUnameValidated && !isUnameAvailLoading">
                  <ion-text *ngIf="isUnameAvail" color="success" class="uname-status">Username available!</ion-text>
                  <ion-text *ngIf="!isUnameAvail" color="danger" class="uname-status">Username taken</ion-text>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item class="form-input-item">
                  <br/>
                  <ion-label position="stacked">Email <span style="color:red">*</span></ion-label>
                  <ion-input formControlName="email" type="email" placeholder="your@email.com" class="form-input" required></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <br/><br/>
                <ion-item class="form-input-item">
                  <ion-label position="stacked">Confirm Email <span style="color:red">*</span></ion-label>
                  <ion-input formControlName="emailConf" type="email" placeholder="your@email.com" class="form-input" required></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="auto">
                <br/><br/>
                <re-captcha (resolved)="recaptchaResolved($event)" siteKey="6LcuK-sUAAAAABaRl9PnhGZMFfQ8DmajzZm8ahCG"></re-captcha>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="requestError" class="ion-justify-content-center">
              <ion-col size="auto">
                <br/>
                <div style="text-align:center">
                  <ion-note style="color:red">Error: {{ requestError }}</ion-note>
                </div>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="isLoading" class="ion-justify-content-center">
              <ion-col size="auto">
                <br/>
                <ion-spinner name="crescent" color="tertiary"></ion-spinner>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="auto">
                <ion-button type="submit" color="tertiary" disabled="{{isLoading}}">Register</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
