<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title color="primary">Confirm Email</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row *ngIf="errorMessage" class="ion-justify-content-center cloud-icon">
      <ion-col size="auto">
        <ion-icon name="alert-circle" color="danger"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="errorMessage" class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-text><h1 style="font-size:1.5em">{{ errorMessage }}</h1></ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!errorMessage" class="ion-justify-content-center cloud-icon">
      <ion-col size="auto">
        <ion-icon name="cloud-done" color="success"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!errorMessage" class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-text color="success" ><h1 style="font-size:2em">You're all set!</h1></ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!errorMessage" class="ion-justify-content-center">
      <ion-col size="auto">
        <br/><br/>
        <ion-button (click)="proceedToLogin()" routerDirection="root">Proceed to Login</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="errorMessage" class="ion-justify-content-center">
      <ion-col size="auto">
        <br/><br/>
        <ion-button (click)="returnHome()" routerDirection="root">Return Home</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
