ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.home-grid-container {
  background: white;
  min-height: 100vh;
  margin: 1em;
  // padding: 1em;
  border-radius: 2em;
}

.home-grid-container ion-grid {
  padding: 0;
}

.home-content {
  --background: linear-gradient(0deg, rgb(7, 1, 132) 0%, rgb(14, 77, 154) 25%, rgba(0,212,255,1) 100%);
}

.page-subtitle {
  opacity:0.55;
  font-size:2em;
}

.footer-toolbar {
  --background: var(--ion-color-light);
}

.footer-title {
  opacity: 0.3;
  margin-top: 0.5em;
}

.feature-overview {
  background: #a2dfff;
  margin: 2em 0 1em 0;
  padding-top: 0.5em;
  line-height: 1.75em;
  font-size: 1.25em;
}

.logo-full {
  padding: 1em 1em 0 1em;
}

.feature-overview ion-col {
  margin: 0.5em 0;
  // font-size: 1.25em;
  // line-height: 1.5em;
}

.feature-highlights {
  background: white;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  font-size: 1.25em;
  font-weight: bold;
}

.feature-highlights ion-icon {
  font-size: 2em;
}

.feature-highlights > ion-row > ion-col.feat-highlight {
  padding-top: 0.4em;
  text-align: left;
}

.dark-back {
  background: var(--ion-color-dark);
  color: var(--ion-color-light);
}

.go-about {
  cursor: pointer;
}

.subscribe {
  background: white;
  padding: 0.25em;
  margin: 0.5em;
  border-radius: 1em;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 0.85em;
}

.subscribe ion-col {
  margin: 0.25em 0 0 0;
}
