<app-title-bar [pageTitle]="pageTitle"></app-title-bar>

<ion-content [fullscreen]="true" class="home-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title color="primary">{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="home-grid-container">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto" class="logo-full">
          <img [src]="logoFullSrc" width="500vw" />
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-text class="page-subtitle">Shout out.  Get clout.</ion-text>
        </ion-col>
      </ion-row>
      <div class="feature-overview">
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <ion-text color="dark" style="font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
              font-size:1.35em;font-weight:bold;opacity:0.85">What is CloudBark?</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto" style="margin:1em 0">
            <ion-text color="light" style="font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
              font-size:2.25em;font-weight:bold">You're looking at it!</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center" style="background:white">
          <ion-col size="10" style="text-align:center;padding:1em 0">
              <ion-text color="primary">
                <h2 style="margin:0;font-weight:bold">CloudBark is an open source full-stack blog & marketing application</h2>
              </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center dark-back">
          <ion-col size="10" style="text-align:center;padding:1em 0">
              <ion-text>
                <h5 style="margin:0;font-weight:bold">All features found in this app are included in the open source project.</h5>
              </ion-text>
          </ion-col>
        </ion-row>
        <div class="feature-highlights">
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto" style="text-align:center">
              <ion-text color="secondary" style="font-size:1.5em">Here are some feature highlights:</ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="3" size-lg="1" style="text-align:center">
              <ion-icon name="logo-ionic" color="primary"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11" class="feat-highlight">
              Cross-platform web app with a native feel, powered by Ionic/Angular
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="3" size-lg="1" style="text-align:center">
              <ion-icon name="book-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11" class="feat-highlight">
              Blog w/HTML & tag support.  Create, edit, draft, invite others to author
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="3" size-lg="1" style="text-align:center">
              <ion-icon name="person-circle-outline" color="tertiary"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11" class="feat-highlight">
              User registration, passwordless auth, blog article feedback & comments
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="3" size-lg="1" style="text-align:center">
              <ion-icon name="reader-outline" color="orange"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11" class="feat-highlight">
              Scheduled blog digest emails to subscribers highlighting new content
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="3" size-lg="1" style="text-align:center">
              <ion-icon name="mail-outline" color="secondary"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11" class="feat-highlight">
              SendGrid email integration w/subscriber list for easy communication
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="3" size-lg="1" style="text-align:center">
              <ion-icon name="swap-vertical-outline" color="success"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11" class="feat-highlight">
              Secure API server with Authentication & Authorization middleware
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="3" size-lg="1" style="text-align:center">
              <ion-icon name="server-outline" color="warning"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11" class="feat-highlight">
              MySQL database integration to persist blog/app data
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto" style="text-align:center">
              <ion-text color="primary">
                For a full feature overview check the <ion-text color="orange" class="go-about" 
                  [routerLink]="'about'" style="text-decoration:none">About</ion-text> page.
              </ion-text>
            </ion-col>
          </ion-row>
        </div>
        <ion-row class="ion-justify-content-center dark-back">
          <ion-col size="10" style="text-align:center;padding:1em 0">
            <ion-text>
              <h5 style="margin:0;font-weight:bold">CloudBark is a ready turnkey marketing/blogging app to promote your next project.  
                If you're a developer, CloudBark can be a jumping off point to do further customization.
              </h5>
            </ion-text>
          </ion-col>
        </ion-row>
        <div class="subscribe">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-lg="8" style="text-align:center">
              <ion-text color="secondary" style="font-weight:bold">Subscribe for free!</ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto" style="text-align:center">
              <ion-button color="tertiary" [routerLink]="'register'">Sign Up</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-lg="8" style="text-align:center">
              <ion-text color="primary" style="font-weight:bold;font-size:0.7em">Members can leave comments & feedback on blog posts and 
                receive our monthly newsletter to stay up to date with new project developments!</ion-text>
            </ion-col>
          </ion-row>
        </div>
        <ion-row>
          <ion-col style="padding:0;margin:0">
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
  
  <ion-footer class="ion-no-border">
    <ion-toolbar class="footer-toolbar">
      <ion-title size="small" class="footer-title"><b>CloudBark</b> Open Source | Copyright @ {{ currentYear }}</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
  