<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false">
            <div class="menu-header" (click)="selectedIndex = getSelectedIndexByPath('/')" routerDirection="root" [routerLink]="'/'">
              <ion-list-header>
                <ion-grid>
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="auto">
                      <img src="../assets/img/logoFull.png" width="200vw"/>
                    </ion-col>
                  </ion-row>
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="auto">
                      <ion-text style="opacity:0.55;font-size:0.7em">Shout out.  Get clout.</ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-list-header>
            </div>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of menuOptions; let i = index">
            <ion-item *ngIf="p.url" (click)="selectedIndex = i" 
                routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
            <ion-item *ngIf="p.extUrl" (click)="selectedIndex = i" 
                target="_blank" href="{{p.extUrl}}" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}
                <ion-icon slot="end" name="open-outline" style="font-size:0.8em"></ion-icon>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
