ion-grid {
    padding: 0;
}

.pages-title-row {
    margin-top: 2em;
}

.article-preview {
    margin-bottom: 1em;
}

ion-searchbar.blog-search {
    --background: var(--ion-color-light);
    --border-radius: 1em;
    --box-shadow: 0.05em 0.05em rgba(0, 0, 0, 0.576);
    --font-weight: bold;
    padding-left: 0;
}

.filter-tag, .filter-author, .filter-search-term {
    font-weight: bold;
}

.filter-author, .filter-author ion-icon {
    color: var(--ion-color-secondary);
}

.filter-author {
    --background: var(--ion-color-light);
    border: 1px solid gray;
}

.filter-tags-div > ion-row {
    background: var(--ion-color-light);
    // margin: 0 0 1em 0;
    padding: 0.25em;
}

.filter-tag {
    border: 1px solid gray;
}

.search-terms-div > ion-row {
    background: rgba(56, 129, 255, 0.15);
    margin: 0;
    padding: 0.25em;
}

.filter-search-term {
    --background: var(--ion-color-light);
    color: var(--ion-color-primary);
    border: 1px solid var(--ion-color-primary);
}

.no-results {
    margin: 5em 0;
    font-weight: bold;
    text-align: center;
}

.create-btn {
    margin: 1em;
}

ion-item.preview-item {
    // border: 1px solid black;
    --color-focused: blue;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
}
