<app-title-bar [pageTitle]="webPageTitle"></app-title-bar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title color="primary">{{ appPageTitle }}</ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="platform.platforms().includes('ios') && platform.width() < 992">
      <ion-grid style="padding:0;margin:0">
        <ion-row class="ion-align-items-center" style="padding:0;margin:0">
          <ion-col size="auto">
            <ion-button size="small" color="primary" (click)="doSearch(iosSearch.value)" style="height:2.65em;margin-bottom:1.1em"><ion-icon name="search" slot="icon-only"></ion-icon></ion-button>
          </ion-col>
          <ion-col size="8.25" style="padding:0">
            <form (ngSubmit)="doSearch(iosSearch.value)">
              <ion-searchbar #iosSearch [ngClass]="platform.width() >= 992 ? 'blog-search-lg' : 'blog-search'" color="primary" showCancelButton="never" mode="ios" 
                searchIcon="." spellcheck="false" animated (ionClear)="doSearch('')"></ion-searchbar>
            </form>
          </ion-col>
          <ion-col size="auto">
            <ion-button size="small" color="dark" (click)="presentFilterModal()" style="height:2.25em;margin-bottom:1.2em"><ion-icon name="filter" slot="icon-only"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" *ngIf="!platform.platforms().includes('ios') || platform.width() >= 992">
      <ion-col size="auto">
        <ion-button color="primary" (click)="doSearch(mdSearch.value)"><ion-icon name="search" slot="icon-only"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="7.25" size-lg="10">
        <form (ngSubmit)="doSearch(mdSearch.value)">
          <ion-searchbar #mdSearch [ngClass]="platform.width() >= 992 ? 'blog-search-lg' : 'blog-search'" color="primary" showCancelButton="never" mode="md" 
            searchIcon="." spellcheck="false" animated (ionClear)="doSearch('')"></ion-searchbar>
        </form>
      </ion-col>
      <ion-col size="auto">
        <ion-button color="dark" (click)="presentFilterModal()"><ion-icon name="filter" slot="icon-only"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <div class="search-terms-div" *ngIf="filterSearchTerms && filterSearchTerms.length > 0">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto" *ngFor="let term of filterSearchTerms; index as termIdx">
          <ion-chip class="filter-search-term"><ion-icon name="search" color="primary"></ion-icon>{{ term }}<ion-icon name="close" color="primary" 
            (click)="removeFilterSearch(termIdx)"></ion-icon></ion-chip>
        </ion-col>
      </ion-row>
    </div>
    <div class="filter-tags-div" *ngIf="filterTags && filterTags.length > 0 || filterAuthor">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto" *ngIf="filterAuthor">
          <ion-chip class="filter-author"><u>{{ filterAuthor }}</u><ion-icon name="close" (click)="removeFilterAuthor()"></ion-icon></ion-chip>
        </ion-col>
        <ion-col size="auto" *ngFor="let tag of filterTags; index as tagIdx">
          <ion-chip class="filter-tag">{{ tag }}<ion-icon name="close" (click)="removeFilterTag(tagIdx)"></ion-icon></ion-chip>
        </ion-col>
      </ion-row>
    </div>
    <ion-row *ngIf="authorIdentity" class="ion-justify-content-center create-btn">
      <ion-col size="auto">
        <ion-button href="/blog/create" color="success" size="small"><ion-icon name="add"></ion-icon> Create </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <br/>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let article of articles">
      <ion-col size="12">
        <ion-item class="preview-item" lines="full">
          <app-article-previewer [article]="article" class="article-preview"></app-article-previewer>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="requestError" class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-text color="danger" style="font-weight:bold">{{ requestError }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!requestError && pages && pages.length > 0" class="ion-justify-content-center pages-title-row">
      <ion-col size="auto">
        <ion-text color="primary" style="font-weight:bold">Pages</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="pages && pages.length > 0">
      <ion-col *ngFor="let page of pages" size="auto">
        <ion-button [color]="currentPage == page ? 'success' : 'primary'" (click)="turnPage(page)">{{ page }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="pages && pages.length === 0">
      <ion-col size="auto" class="no-results">
        <ion-text color="danger">No articles found</ion-text>
        
        <br/><br/>
        
        <ion-text color="dark">Try removing filters</ion-text> 
        <div style="position:relative;display:inline">
          <!-- transparent placeholder for width -->
          <ion-icon name="filter" style="color:transparent"></ion-icon>
          <div style="position:absolute;left:5px;top:3px">
            <!-- positioned/displayed icon -->
            <ion-icon name="filter" color="dark"></ion-icon>
          </div>
        </div>

        <br/><br/>

        <div style="position:relative;display:inline">
          <!-- transparent placeholder for width -->
          <ion-icon name="search" style="color:transparent"></ion-icon>
          <div style="position:absolute;left:0px;top:3px">
            <!-- positioned/displayed icon -->
            <ion-icon name="search" color="primary"></ion-icon>
          </div>
        </div>
        <ion-text color="primary"> or adding search terms</ion-text>

        <br/><br/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <br/><br/>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
