<app-title-bar [pageTitle]="webPageTitle"></app-title-bar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title color="primary">{{ appPageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-article-reader [article]="article" [isEditMode]="isEditMode"></app-article-reader>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showEditOption" class="ion-justify-content-center edit-button">
      <ion-col size="auto">
        <ion-button [routerLink]="'/blog/edit/' + article.slug" size="small" color="tertiary">Edit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
