<ion-grid>
  <ion-row *ngFor="let tag of tags">
    <ion-col size="auto">
      <ion-chip (click)="navChipTag(tag)">
        <ion-label class="tag-label">{{ tag }}</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
</ion-grid>
