<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-end">
      <ion-col size="3" size-md="1" style="text-align:right;z-index:1">
        <ion-button color="dark" size="small" (click)="closeImg()">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <ion-img [src]="imgSrc"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
