<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">{{ pageTitle }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!currentUser" (click)="presentLoginModal()">
        Login
      </ion-button>
      <ion-button *ngIf="currentUser" (click)="presentCurrentUserPopover($event)">
        <ion-icon slot="icon-only" name="person-circle-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
