<ion-header>
  <ion-toolbar>
    <ion-title color="tertiary">Login</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" expand="block" shape="round" fill="outline" color="tertiary">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" ngNativeValidate>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item lines="full">
                  <br/>
                  <ion-label position="stacked">Email <span style="color:red">*</span></ion-label>
                  <ion-input formControlName="email" type="email" placeholder="your@email.com" required></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="isVerifying">
              <ion-col>
                <br/><br/><br/>
                <ion-item lines="full">
                  <ion-label position="stacked">Enter Auth Code <span style="color:red">*</span></ion-label>
                  <ion-input formControlName="code" type="text" pattern="[0-9]{7}" required></ion-input>
                </ion-item>
                <br/>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="requestError1" class="ion-justify-content-center">
              <ion-col size="auto">
                <br/>
                <div style="text-align:center;">
                  <ion-note position="stacked" color="danger">Error: {{ requestError1 }}</ion-note>
                  <div *ngIf="requestError2">
                    <ion-note position="stacked" color="danger">{{ requestError2 }}</ion-note>
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="isShowingResendAccountVerification" class="ion-justify-content-center">
              <ion-col size="auto">
                <br/>
                <ion-text>Need to resend the verification email?</ion-text>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="isShowingResendAccountVerificationSuccess" class="ion-justify-content-center">
              <ion-col size="auto">
                <br/>
                <ion-text color="success" style="font-weight:bold">Verification sent!</ion-text>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="isLoading" class="ion-justify-content-center">
              <ion-col size="auto">
                <br/>
                <ion-spinner name="crescent" color="tertiary"></ion-spinner>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="isShowingResendAccountVerification" class="ion-justify-content-center">
              <ion-col size="auto">
                <br/>
                <ion-button (click)="resendVerification()" size="small" color="success" style="margin:0" disabled="{{isLoading}}">Resend <ion-icon name="refresh-outline"></ion-icon></ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="auto">
                <br/><br/>
                <ion-button type="submit" color="tertiary" style="margin:0" disabled="{{isLoading}}">Login</ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="auto">
                <br/>
                <ion-note>Not a member yet?</ion-note><br/><br/>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="auto">
                <ion-text (click)="registerNow()" color="primary" class="register-now">Register now</ion-text><br/><br/>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="auto">
                <ion-note>It's free!</ion-note>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="auto">
                <!-- placeholder -->
                <br/><br/>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
