ion-label {
    padding-bottom: 0.75em;
}

ion-input {
    line-height: 1.5em;
    font-size: 1.5em;
}

ion-button {
    margin: 2em 0;
}

ion-grid, ion-row, ion-col {
    padding: 0;
}

ion-toolbar > ion-buttons {
    padding: 3%;
}

ion-text.register-now {
    cursor: pointer;
}