.home-content {
    --background: linear-gradient(0deg, rgb(7, 1, 132) 0%, rgb(14, 77, 154) 25%, rgba(0,212,255,1) 100%);
}

.home-grid-container {
    background: white;
    min-height: 100vh;
    margin: 1em;
    border-radius: 2em;
}

.home-grid-container ion-grid {
    padding: 0;
}

.about-container {
    background: #a2dfff;
    margin: 1em 0;
    padding-top: 0.5em;
    line-height: 1.75em;
}

.about-header {
    background: white;
    padding: 1em 0;
    margin: 1em;
    border-radius: 1em;
    font-size: 1.25em;
    font-weight: bold;
}

.section {
    border-top: 2.5em solid transparent;
    margin-top: -2.5em;
}

.section-tight {
    border-top: 1em solid transparent;
    margin-top: -1em;
}

.system-design, .feature-docs {
    background: white;
    padding: 1em 0.25em;
    margin: 1em;
    border-radius: 1em;
    font-size: 1.25em;
    font-weight: bold;
}

.system-design ion-icon, .feature-docs ion-icon {
    font-size: 2em;
}

.section-link {
    color: var(--ion-color-primary);

}

.section-link .chevron {
    text-align: center;
}

.section-link-title {
    margin-top: 0.15em;
}

.section-link > a {
    text-decoration: none;
}

.section-link > ion-text {
    color: var(--ion-color-primary);
    text-decoration-style: solid;
}

.doc-details {
    padding: 0 2em;
    font-size: 0.7em;
    font-weight: 500;
}

.docs-section-header {
    text-align: center;
    font-size: 1.5em;
    color: var(--ion-color-secondary);
    margin: 0.5em;
}

.docs-section-subheader {
    font-size: 1.25em;
    text-align: center;
    color: var(--ion-color-primary);
    margin: 2em 0 0.5em 0;
}

.docs-details-h1 ion-col {
    color: var(--ion-color-tertiary);
    margin: 2em 0 0 0;
}

.docs-details-h1 .chevron {
    text-align: center;
}

.docs-details-title-h1 {
    margin-top: 0.25em;
}

.docs-details-h2 ion-col {
    font-size: 0.9em;
    color: #4300ae;
    margin: 1.5em 0 0 0;
}

.docs-details-h2 .chevron {
    font-size: 0.8em;
    text-align: center;
}

.docs-details-h2 .chevron > img {
    padding-top: 0.75em;
    height: 2em;
    filter: invert(10%) sepia(87%) saturate(7290%) hue-rotate(268deg) brightness(69%) contrast(116%);
}

.docs-details-title-h2 {
    margin-top: 0.25em;
}

.docs-details-h3 ion-col {
    font-size: 0.8em;
    color: navy;
    margin: 1em 0 0 0;
}

.docs-details-h3 .chevron {
    font-size: 0.6em;
    text-align: center;
}

.docs-details-h3 .chevron > img {
    padding-top: 0.9em;
    height: 2.25em;
    filter: invert(7%) sepia(86%) saturate(7400%) hue-rotate(239deg) brightness(77%) contrast(133%);
}

.footer-toolbar {
    --background: var(--ion-color-light);
}

.footer-title {
    opacity: 0.3;
    margin-top: 0.5em;
}

.dark-back {
    background: var(--ion-color-dark);
    color: var(--ion-color-light);
}

.subscribe {
    background: white;
    padding: 0.25em;
    margin: 1em;
    border-radius: 1em;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 0.85em;
}

.subscribe ion-col {
    margin: 0.25em 0 0 0;
}

.code {
    background: var(--ion-color-light);
    color: var(--ion-color-orange);
    padding: 0.25em;
}
