<app-title-bar [pageTitle]="pageTitle"></app-title-bar>

<ion-content [fullscreen]="true" class="home-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title color="primary">{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="home-grid-container">
    <ion-grid>
      <div class="about-container">
        <div class="about-header">
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto" style="text-align:center">
              <div class="docs-section-header">About CloudBark</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center dark-back" style="margin:1em 0">
            <ion-col size="12" style="text-align:center;padding:1em 0">
              <ion-text>
                <h6 style="margin:0">
                  Did you know?  CloudBark was originally designed to serve as a landing page and blog to promote 
                  open source projects.
                </h6>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-start" style="margin:0 1em">
            <ion-col size="auto">
              <ion-text color="primary">
                <h1 style="margin:0">Contents</h1>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center section-link">
            <ion-col size="9" size-lg="11">
              <div class="section-link-title"><a routerLink="." fragment="system-design"><ion-text color="secondary">System Design</ion-text></a></div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center section-link">
            <ion-col size="9" size-lg="11">
              <div class="section-link-title"><a routerLink="." fragment="feature-docs"><ion-text color="secondary">Feature Documentation</ion-text></a></div>
            </ion-col>
          </ion-row>
        </div>
        <div class="system-design">
          <section id="system-design" class="section"></section>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <div class="docs-section-header">System Design</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto" style="text-align:center">
              <ion-item-divider style="margin-bottom:1em;padding:1em">
                <ion-text color="dark" style="font-size:1.5em">Here's a simple overview of the CloudBark stack:</ion-text>
              </ion-item-divider>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <img (click)="showSystemDesignFullScreen()" src="../../assets/img/systemDesign.svg"/>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="auto">
              <ion-text color="dark">
                <u>System Overview</u> <span style="font-size:0.75em;padding:0.25em">(left to right)</span>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-lg="2" style="text-align:center;padding-top:1em">
              <ion-text color="secondary">
                SendGrid -
              </ion-text>
            </ion-col>
            <ion-col size="12" size-lg="10">
              <ion-text>
                A top-notch email service provider which offers a free tier account that offers 100 free transactional 
                emails per day and thousands of free marketing emails per day.
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-lg="2" style="text-align:center;padding-top:1em">
              <ion-text color="orange">
                MySQL -
              </ion-text>
            </ion-col>
            <ion-col size="12" size-lg="10">
              <ion-text>
                One of the most popular open source SQL databases.  MySQL is used to store user account and blog information.
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-lg="2" style="text-align:center;padding-top:1em">
              <ion-text style="color:#00ACD7">
                Go (Server) -
              </ion-text>
            </ion-col>
            <ion-col size="12" size-lg="10">
              <ion-text>
                Simple and powerful back end language used to run an HTTP API with which the client communicates.  The server is like 
                the middle-man allowing the client to securely communicate with SendGrid and MySQL.
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-lg="2" style="text-align:center;padding-top:1em">
              <ion-text color="ionic">Ionic</ion-text>/<ion-text style="color:#DD1B16">Angular </ion-text> 
              <ion-text color="dark">(Client) -</ion-text>
            </ion-col>
            <ion-col size="12" size-lg="10">
              <ion-text>
                Ionic is an advanced native-looking web component library, which is used atop the popular Angular web framework in order 
                to deliver a native feeling experience no matter what device the client is using.
              </ion-text>
            </ion-col>
          </ion-row>
        </div>
        <div class="feature-docs">
          <section id="feature-docs" class="section"></section>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <div class="docs-section-header">Feature Documentation</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center section-link">
            <ion-col size="3" size-lg="1" class="chevron">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="section-link-title"><a routerLink="." fragment="blog"><ion-text>Blog</ion-text></a></div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center section-link">
            <ion-col size="3" size-lg="1" class="chevron">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="section-link-title"><a routerLink="." fragment="user-management"><ion-text>User Management</ion-text></a></div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center section-link">
            <ion-col size="3" size-lg="1" class="chevron">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="section-link-title"><a routerLink="." fragment="blog-management"><ion-text>Blog Management</ion-text></a></div>
            </ion-col>
          </ion-row>
          <section id="blog" class="section-tight"></section>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <div class="docs-section-subheader">Blog</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="doc-details">
              CloudBark features an advanced interactive blog.  This section will outline the main blog features available to all public visitors as well as 
              authenticated members, such as 
              <a routerLink="." fragment="blog-navigation" style="text-decoration:none;font-weight:bold"><ion-text color="tertiary">Navigation</ion-text></a>,  
              <a routerLink="." fragment="blog-filtering" style="text-decoration:none;font-weight:bold"><ion-text color="tertiary">Filtering</ion-text></a>, and 
              <a routerLink="." fragment="blog-interaction" style="text-decoration:none;font-weight:bold"><ion-text color="tertiary">Interaction</ion-text></a>.  
              See the <ion-text color="orange">User Management</ion-text> section for more details on registered users and their roles.
            </ion-col>
          </ion-row>
          <section id="blog-navigation" class="section-tight"></section>
          <ion-row class="ion-justify-content-center docs-details-h1">
            <ion-col size="3" size-lg="1" class="chevron">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h1">Navigation</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                Public (not logged in) users as well as authenticated users can visit the CloudBark blog by navigating to the URL <code class="code">/blog</code> 
                or by selecting the '<code>Blog</code>' option in the app menu.  This brings the user to the blog home page, where a listing of the latest blog 
                content is shown in reverse chronological order (latest first).<br/>
                <br/>
                Whenever viewing blog article results, pagination is enforced.  Pagination is the idea of limiting how many results the user may view at a time.  
                Pagination is a best-practice which prevents the server from having to return an unreasonably large amount of results at a time, while offering a 
                better user experience with faster load times and pagination controls at the bottom of the page.<br/>
                <br/>
                On the blog home, previews of each article are shown.  The preview for each article includes the article title, author, the first few hundred characters of 
                content and up to 3 topic tags.  Clicking on the title of a blog article preview will navigate to the main page for that article.<br/>
                <br/>
                Each blog article is dynamically assigned a unique URL based on the title of the article, allowing for easy sharing via a direct link from outside the 
                application.  Also, on this page, all topic tags are visible as well as the full blog content and exact time the article was last updated 
                (or published if never updated).<br/>
                <br/>
                From any main article page or from the article preview, the article author's username is displayed.  Users may click the author's name to view a page which  
                displays some author statistics as well as previews of articles they've authored, latest first.
              </ion-text>
            </ion-col>
          </ion-row>
          <section id="blog-filtering" class="section-tight"></section>
          <ion-row class="ion-justify-content-center docs-details-h1">
            <ion-col size="3" size-lg="1" class="chevron">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h1">Filtering</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                In addition to pagination, users can refine article results by using any combination of the available filters:
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center docs-details-h2">
            <ion-col size="3" size-lg="1" class="chevron">
              <img src="../../assets/img/chevron-forward-double.svg"/>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h2">Search</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                Users can filter results by specific words or phrases entered in the search bar.  Certain common words/articles are ignored by default, such as 'a', 
                'an', & 'the'.  The effective search items are shown above the search bar, offering instant feedback of the effective search based on the search input.  
                If a word is absent from the effective search it will be ignored.<br/>
                <br/>
                Articles are included by the search filter if they contain ANY of the search words/terms.  To create an exact phrase search (including ignored words 
                above), users can surround part or all of their search with double quotes.  For example, searching <code class="code">The Big Train</code> will ignore 
                the term <code class="code">The</code> and include any articles which contain either the word <code class="code">Big</code> or the word 
                <code class="code">Train</code>, case insensitive.  However, searching <code class="code">"The Big Train"</code> will include only articles which 
                contain the exact phrase <code class="code">The Big Train</code> (including <code class="code">The</code>), case insensitive.
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center docs-details-h2">
            <ion-col size="3" size-lg="1" class="chevron">
              <img src="../../assets/img/chevron-forward-double.svg"/>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h2">Author</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                Users can filter results by author.  This filter is also applied in the author's own page/view.  However, in the main blog home page, this filter can be 
                applied in addition to other filters to further refine results.
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center docs-details-h2">
            <ion-col size="3" size-lg="1" class="chevron">
              <img src="../../assets/img/chevron-forward-double.svg"/>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h2">Tags</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                Users can filter results by topic tag(s).  Blog articles which are tagged with ANY of the filtered tags will be included. 
              </ion-text>
            </ion-col>
          </ion-row>
          <section id="blog-interaction" class="section-tight"></section>
          <ion-row class="ion-justify-content-center docs-details-h1">
            <ion-col size="3" size-lg="1" class="chevron">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h1">Interaction</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                Authenticated users (registered and logged-in) are able to interact with blog posts by upvoting, commenting and receiving alerts:
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center docs-details-h2">
            <ion-col size="3" size-lg="1" class="chevron">
              <img src="../../assets/img/chevron-forward-double.svg"/>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h2">Upvoting</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                Members can show their appreciation/approval for a blog post by upvoting it.  The upvote system is unlimited with an optional cooldown between votes.  
                If the cooldown is 0 then users can provide upvotes as fast as they wish.  CloudBark upvotes are called <code class="code">Paws</code> but this name 
                as well as the icon can easily be modified.  Upvotes are tracked in the database but are not modifiable by any user.
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center docs-details-h2">
            <ion-col size="3" size-lg="1" class="chevron">
              <img src="../../assets/img/chevron-forward-double.svg"/>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h2">Commenting</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                Members can participate in a discussion around any blog article by leaving a comment.  Comments follow a 2-level system where users can either 
                directly comment on a post or reply to another user's comment.  Replies to other comment replies will not nest further than the 2nd level and 
                instead will reference the original commentor or replier by username with an <code class="code">@username</code> tag prepended to their reply.<br/>
                <br/>
                Members will receive in-app notifications if their comment or reply is replied to.  Each notification provides a direct link to the referencing 
                reply for convenience.  Members will also receive email notifications of the same unless these notifications are disabled.
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center docs-details-h2">
            <ion-col size="3" size-lg="1" class="chevron">
              <img src="../../assets/img/chevron-forward-double.svg"/>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h2">Email Preferences</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                Members can customize their email preferences from their account menu, which shows up in the title bar at the top of the page on the right side 
                in place of the '<code>Login</code>' button when the member is logged in.  Members can choose to disable all notifications or just to specifically 
                disable notifications of comment replies or digest/newsletters.<br/>
                <br/>
                In addition, users with the role of <code class="code">Author</code> or higher will be able to disable email notifications of comments/replies to their authored articles.  
                For more information on roles, see the 
                <a routerLink="." fragment="user-management" style="text-decoration:none"><ion-text color="orange">User Management</ion-text></a> section below.
              </ion-text>
            </ion-col>
          </ion-row>
          <section id="user-management" class="section-tight"></section>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <div class="docs-section-subheader">User Management</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="doc-details">
              CloudBark features a modern implementation of user management including user 
              <a routerLink="." fragment="registration" style="text-decoration:none"><ion-text color="tertiary">registration</ion-text></a>, 
              <a routerLink="." fragment="authentication" style="text-decoration:none"><ion-text color="tertiary">authentication</ion-text></a>, 
              <a routerLink="." fragment="authorization" style="text-decoration:none"><ion-text color="tertiary">authorization</ion-text></a>.  
              This section will cover how CloudBark addresses each of these features.<br/>
              <br/>
              Also included is an in-depth explanation of each of the 
              <a routerLink="." fragment="authorization-roles" style="text-decoration:none"><ion-text color="tertiary">authorization roles</ion-text></a>
              supported and what privileges each role has.
            </ion-col>
          </ion-row>
          <section id="registration" class="section-tight"></section>
          <ion-row class="ion-justify-content-center docs-details-h1">
            <ion-col size="3" size-lg="1" class="chevron">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h1">Registration</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                Users are able to register for free simply by submitting the registration form.  This form appears as a modal that can be triggered by visiting 
                the URL <code class="code">/register</code> or by clicking <code>'LOGIN'</code> at the top right in the app title-bar and then choosing 
                <a routerLink="/register" style="text-decoration:none"><ion-text color="primary">Register now</ion-text></a> towards the bottom.<br/>
                <br/>
                Registration involves choosing a unique username, which will identify the user throughout the application such as when leaving comments.
                Also, every blog article will display the author's username.  For security, emails are never disclosed in the CloudBark app.<br/>
                <br/>
                Following submission of the registration form, users will have to confirm their account before logging in.  Users can confirm their account by 
                following the link in a confirmation email sent to the email address with which they registered.<br/>
                <br/>
                A server environment variable called <code class="code">AUTH_JWT_ACCT_VERIFY_EXP_SECONDS</code> has been provided to control the amount of time a 
                user has to confirm their account from the confirmation email.  If the confirmation link has expired, a user can have the email re-sent by 
                attempting to login and then choosing the <code><ion-text color="success">Resend</ion-text></code> option.
              </ion-text>
            </ion-col>
          </ion-row>
          <section id="authentication" class="section-tight"></section>
          <ion-row class="ion-justify-content-center docs-details-h1">
            <ion-col size="3" size-lg="1" class="chevron">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h1">Authentication</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                Authentication is the secure process of determining a user's identity.  For CloudBark, as with most applications, this is synonymous with 
                "logging in".  Authentication in CloudBark is passwordless, meaning that each time the user wishes to authenticate, they must complete a 
                2-step login process between the CloudBark app and their email.<br/>
                <br/>
                To authenticate, a user must first enter their email in the login form, which can be reached by visiting the URL 
                <code class="code">/login</code> or by clicking <code>'LOGIN'</code> at the top right in the app title-bar.  After initially submitting the 
                form with just their email address (step 1), the user will then have to check their email account for an authentication code, which must 
                finally be entered back in the same login form within the login modal (step 2).  If the modal is closed, a new auth code will be sent and the old 
                code will be invalidated.<br/>
                <br/>
                A server environment variable called <code class="code">AUTH_LOGIN_CODE_TTL_SECONDS</code> has been provided to control the amount of time a 
                user has to enter their auth code and login.  Also, another environment variable called <code class="code">AUTH_LOGIN_CODE_DIGITS</code> allows 
                control over how many digits the auth code will be.
              </ion-text>
            </ion-col>
          </ion-row>
          <section id="authorization" class="section-tight"></section>
          <ion-row class="ion-justify-content-center docs-details-h1">
            <ion-col size="3" size-lg="1" class="chevron">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h1">Authorization</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                Authorization deals with permitting and restricting authenticated users to engage certain functionality.  CloudBark uses <b>Role Based Authorization 
                Control (RBAC)</b>.   RBAC means users are each assigned a role which is associated with certain permissions in conjunction with their identity.  
                For example, when users first register they are automatically assigned the <code class="code">Member</code> role, which has the lowest permissions.  Yet, even 
                the role of "Member" implies the user has registered and is authenticated.  An unauthenticated user has no known identity and so they are unauthorized 
                to perform any special functions.  Even a registered user has no special permissions if they are not authenticated or logged in.
              </ion-text>
            </ion-col>
          </ion-row>
          <section id="authorization-roles" class="section"></section>
          <ion-row class="ion-justify-content-center docs-details-h2">
            <ion-col size="3" size-lg="1" class="chevron">
              <img src="../../assets/img/chevron-forward-double.svg"/>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h2">Authorization Roles</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center docs-details-h3">
            <ion-col size="3" size-lg="1" class="chevron">
              <img src="../../assets/img/chevron-forward-triple.svg"/>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h3">Member Role</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                Once a user first registers, they will automatically have the <code class="code">Member</code> role upon logging in.  As a Member, users can interact with 
                blog posts by leaving feedback and/or comments.  Again, if not authenticated, users will not even have these abilities.  Non-authenticated or "public" users 
                are only be able to read blog articles and view other public site content.<br/><br/>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center docs-details-h3">
            <ion-col size="3" size-lg="1" class="chevron">
              <img src="../../assets/img/chevron-forward-triple.svg"/>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h3">Author Role</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                A step above the entry-level "Member" role is the role of <code class="code">Author</code>.  An "Author" has the ability to create blog article drafts.  
                Authors can save their drafts at any point and revisit them later to update any and all of the draft content.  When ready to publish, an Author can request 
                to publish their draft as a public blog article for public users, members, and other authors to see.  Authors may also be given access to edit parts of an 
                unpublished blog article, which is separate from a Draft.  See the Blog Management section for more details on this process.  Generally, an Author DOES NOT 
                have the ability to publish/unpublish an article, edit a published article, or edit an unpublished article without being given access, even if they are the 
                author of that article.  <b>Without being given access, authors can only edit their own drafts.</b><br/>
                <br/>
                Another important difference between a "Member" and an "Author" is that an Author is given an entry on the Blog Authors page showing all published articles 
                of which they are the Author.  These are public pages so even public users can click on the author of any blog article and view all of their published work.
                <br/><br/>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center docs-details-h3">
            <ion-col size="3" size-lg="1" class="chevron">
              <img src="../../assets/img/chevron-forward-triple.svg"/>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h3">Publisher Role</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                A <code class="code">Publisher</code> is an Author that can <b>publish and promote</b> but CANNOT <b><i>unpublish or demote</i></b>.<br/>
                <br/>
                A Publisher has all of the permissions of an Author but in addition, they can approve authors' requests to <b>publish</b> a draft.  This means a Publisher can 
                self-publish since they can approve their own request to publish their own draft as well as the requests of others.  A Publisher can also <b>promote</b>, meaning 
                they can upgrade the role of a normal <b>Member to an Author</b>.  However, a Publisher cannot promote higher than the Author role, so they can't promote another 
                user to a Publisher, for example.<br/>
                <br/>
                A Publisher cannot <b><i>unpublish or demote</i></b>, which means they cannot remove published content from the publicly viewable blog or demote a user to a lower 
                role, such as a Publisher down to an Author or an Author down to a Member.<br/>
                <br/>
                Another privilege that goes along with being a publisher is that they can edit unpublished, unlocked blog articles or even publish them.  So, if there are multiple 
                publishers, any of them can edit and/or publish an unpublished blog article.  See the Blog Management section for more details.<br/>
                <br/>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center docs-details-h3">
            <ion-col size="3" size-lg="1" class="chevron">
              <img src="../../assets/img/chevron-forward-triple.svg"/>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h3">Admin Role</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                An <code class="code">Admin</code> has all Publisher permissions plus the ability to unpublish, lock, delete, and demote.<br/>
                <br/>
                An Admin can <b>unpublish</b>, which means they can remove published content from the publicly viewable blog.  When content is unpublished, it will not be 
                visible to members or authors except the actual article Author.  Though, even the author will have read-only access as it is not a draft.  Unpublished articles 
                are in a sort of limbo state until they are republished or deleted.  An Admin can choose to delete an unpublished article but must first unpublish the article 
                before it can be deleted.<br/>
                <br/>
                CloudBark maintains a <i>soft-delete</i> database policy where data is never actually deleted or lost.  Instead, when an article is "deleted", the 
                <code class="code">deleted_at</code> field for the given article in the database is timestamped, marking it as "logically deleted" or "soft-deleted", which 
                prevents it from being returned from any database queries.  The exception to this is for the <b>Admin Panel</b> - accessible only to Admins - which offers the option 
                of showing deleted articles as well as the edit history of all articles as well.<br/>
                <br/>
                An Admin can also <b>lock</b> a blog article.  Locked articles are unpublished articles which cannot be modified by any other Admin or Publisher.  Locking an 
                article is mainly a way for an Admin to remove an article from public view while also preventing any Publisher from modifying or re-publishing that article.<br/>
                <br/>
                Similar to locking an article, an Admin can actually <b>delete</b> (soft-delete) an article so that neither a Publisher nor the original Author can even see that the 
                article exists.  As stated above, CloudBark data is only soft-deleted so that an Admin can still view the deleted article in the Admin Panel and restore it as well.<br/>
                <br/>
                Finally, an admin can promote or <b>demote</b> a user's role.  Only users with roles lower than Admin can be demoted.  Particularly, an Admin can demote a Publisher 
                to an Author or an Author to a Member.  An Admin cannot demote another Admin to a lower role.  Similarly, an Admin can promote a Member to an Author or an Author to a 
                Publisher.  An Admin cannot promote another user to an Admin.  In sum, an Admin can promote up to Publisher and demote from as high as Publisher.<br/>
                <br/>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center docs-details-h3">
            <ion-col size="3" size-lg="1" class="chevron">
              <img src="../../assets/img/chevron-forward-triple.svg"/>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h3">Super Admin Role</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                The <code class="code">Super Admin</code> is basically the site owner/controller than can do everything that CloudBark offers a user.  Specifically, the Super Admin 
                has all the permissions of an Admin plus a few extra capabilities.<br/>
                <br/>
                <b>There can only be one Super Admin</b> for the entire CloudBark application.  This user has the unique ability to promote other users to Admin Role, which other Admin users 
                cannot do.  The Super Admin can also demote an Admin to a lower role, which is also not possible to do as a normal Admin user.  Of course, the Super Admin cannot promote 
                another user to Super Admin since there can only be one.<br/>
                <br/>
                Finally, when the Super Admin locks a blog article, it functions in the same way as if an Admin applied the lock in that no other user can modify/publish the 
                article.  However, the Super Admin can also <b>unlock</b> any blog article.  So, an Admin's lock does not prevent the Super Admin from unlocking that article, re-locking 
                it with their own lock or modifying the article in any way, such as editing, re-publishing, etc.
              </ion-text>
            </ion-col>
          </ion-row>
          <section id="blog-management" class="section-tight"></section>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <div class="docs-section-subheader">Blog Management</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="doc-details">
              The normal flow of publishing an article for a single site owner is just to hit "Publish" when the article is ready to be published, instantly making the article publicly 
              viewable.  However, depending on the delegation of authorization roles to other users, the process can be spread out into several steps.<br/>
              <br/>
              This section will cover each of these steps as well as when they are applicable:<br/>
              <a routerLink="." fragment="blog-drafts" style="text-decoration:none;margin-left:2em"><ion-text color="tertiary">Drafts</ion-text></a><br/>
              <a routerLink="." fragment="blog-unpublished" style="text-decoration:none;margin-left:2em"><ion-text color="tertiary">Unpublished Articles</ion-text></a><br/>
              <a routerLink="." fragment="blog-locked" style="text-decoration:none;margin-left:2em"><ion-text color="tertiary">Locked Articles</ion-text></a><br/>
              <a routerLink="." fragment="blog-published" style="text-decoration:none;margin-left:2em"><ion-text color="tertiary">Published Articles</ion-text></a><br/>
              <a routerLink="." fragment="blog-members-only" style="text-decoration:none;margin-left:2em"><ion-text color="tertiary">Members-Only Articles</ion-text></a>
            </ion-col>
          </ion-row>
          <section id="blog-drafts" class="section-tight"></section>
          <ion-row class="ion-justify-content-center docs-details-h1">
            <ion-col size="3" size-lg="1" class="chevron">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h1">Drafts</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                A Draft is a saved version of an article which has not yet been published.  Any user with a role of Author or higher (Author+) can create a Draft.  A Draft is distinct 
                from an <i>unpublished</i> article in that a Draft has <b>never</b> been published.  Once an article or Draft has been published or accepted as an unpublished article, 
                it can never be a Draft again and instead remains in the published/unpublished state.<br/>
                <br/>
                A Draft belongs exclusively to its author as long as it remains a Draft.  The author can, at any time, edit or delete the Draft.  When the Draft is ready, the author can 
                request that the Draft be published.  Even after the request to publish has been made by an author, the author can still edit or even delete the draft.  Edits to a Draft 
                will instantly be reflected in the request to publish that Draft unless/until it is accepted.  However, if the author elects to delete a Draft that has been requested to 
                be published, the Draft will only be deleted for the Author but could still be published by a Publisher+.
              </ion-text>
            </ion-col>
          </ion-row>
          <section id="blog-unpublished" class="section-tight"></section>
          <ion-row class="ion-justify-content-center docs-details-h1">
            <ion-col size="3" size-lg="1" class="chevron">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h1">Unpublished Articles</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                When an article Draft is accepted, it moves into the <b>unpublished</b> state.  From then on, the article can only move between the published/unpublished states for 
                the remainder of its lifecycle unless it is deleted.  Only unpublished articles may be deleted and only users with the role of Admin or higher may unpublish or delete an Article.<br/>
                <br/>
                Any user with a role of Publisher+ may "pick up" a request to publish a draft.  Once the Draft is accepted, the Publisher who accepted it becomes the lone publisher of the unpublished 
                article.  An unpublished article may only have one publisher at a time.  An article in the unpublished state remains visible to its author and all Publisher+ users but it remains 
                hidden from members and the public.  So, for example, if an author saves a Draft and requests that Draft to be published, when the article is accepted it will disappear from the 
                author's Draft page (if they haven't deleted it yet), and appear on their articles page with the status <b>unpublished</b>.<br/>
                <br/>
                Users with the role of <code class="code">Author</code> are merely spectators of their unpublished articles in that they cannot modify them.  However, authors can be granted access 
                to edit their unpublished article if the publishing user wishes to request modifications.  Of course, a publishing user can also modify the article themselves.  However, if a user 
                other than the original Author makes modifications to an article, then an Admin+ must publish the article.  So, if a user has the role of <code class="code">Publisher</code>, it may 
                be easier to avoid the Admin  higher approval by just requesting that the original article author make the requested modifications.<br/>
                <br/>
                Article authors may be granted access to edit their unpublished article in whole or in part.  The editable portions of an article are 1) Content, 2) Tags, & 3) Title.  An author may 
                be given access to edit any number of these.  Granting only necessary edit access to the author allows Publishers to maintain some control over the article while also giving the author 
                the necessary access to make the requested modifications themselves.  Once the requested modifications are made, Publishers may again revoke edit access to the author and continue the 
                review process as usual, including publishing the article.<br/>
                <br/>
                Even though it would require an Admin+ to publish the article, Publishers can still edit any/all parts of the requested article.  In addition, Publishers can request other users to make 
                edits to the article besides the original author.  However, only users with the role of Publisher+ may edit an unpublished article.  In this case, those other Publisher+ users are 
                referred to as "editors" and editors are restricted in the same way as the author in that explicit edit access to some/all parts of an article must be granted.  Again, any editts by a 
                user other than the original author means an Admin+ must do the actual publishing.
              </ion-text>
            </ion-col>
          </ion-row>
          <section id="blog-locked" class="section-tight"></section>
          <ion-row class="ion-justify-content-center docs-details-h1">
            <ion-col size="3" size-lg="1" class="chevron">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h1">Locked Articles</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                A user with a role of Admin or the Super Admin have the unique ability to place a "lock" on an unpublished article at any time.  Locked articles are ALWAYS unpublished articles.  
                Published articles and Drafts cannot be locked.  Instead, the article/Draft must first be moved into the <b>unpublished</b> state before it can be locked.  When an Admin places a lock 
                on an article, they become the acting publisher and the original publisher will temporarily lose access.  In fact, all Admin users will lose access to the article besides the one who 
                locked it.  However, the Super Admin can always overwrite another Admin's lock by either force unlocking the article or overwriting the Admin's lock with their own, essentially kicking 
                the other Admin off and becoming the acting publisher.<br/>
                <br/>
                As mentioned before, if any non-Admin user makes edits to an article besides the original author then an Admin must publish the article.  Locking an article is precisely how an Admin+ 
                user can become the acting Publisher in order to publish such an article.  After locking an article, the Admin+ user can do all the things a publisher can do, such as making edits 
                themselves (no need for approval as they're Admin+), request other Publisher+ users to act as editors and make edits to the article, or request the original Author to make edits.<br/>
                <br/>
                At the end of the "freeze" process, the locking Admin+ user may choose to just directly publish the article or they can release their lock, making the original publisher the effective 
                publisher once again.  However, releasing the article lock opens it back up to modifications by the original Author, the original publisher, and any editors.  In which case, an Admin+ 
                user will have to once again lock the article to act as Publisher and publish the article.<br/>
                <br/>
                The Admin+ user who locks an article can also change the original Publisher as with all other article content.  So, if an Admin wanted to change the Publisher for an article, they could 
                simply lock that article, edit the publisher and then unlock it.  Another scenario where this is useful is when unpublishing a published article.  Only Admin+ users may unpublish an 
                article and when they do, the article becomes locked by them in the unpublished state.  At which point, the Admin+ user (unpublisher) can specify a Publisher other than themselves who 
                will become acting once they release the article lock.
              </ion-text>
            </ion-col>
          </ion-row>
          <section id="blog-published" class="section-tight"></section>
          <ion-row class="ion-justify-content-center docs-details-h1">
            <ion-col size="3" size-lg="1" class="chevron">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h1">Published Articles</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                The ultimate goal of any Draft or article is to be published.  Published articles are visible by all members as well as public users (not logged in).  Published articles appear in 
                the blog listing as well as its author's listing page.<br/>
                <br/>
                The only way to remove an article from public view is to unpublish it, reverting it back to the <b>unpublished</b> state.  As stated above, only Admin+ users may unpublish an 
                article and when they do, the article becomes locked by the unpublishing Admin+ user who can then specify another Publisher or remain acting publisher themselves.
              </ion-text>
            </ion-col>
          </ion-row>
          <section id="blog-members-only" class="section-tight"></section>
          <ion-row class="ion-justify-content-center docs-details-h1">
            <ion-col size="3" size-lg="1" class="chevron">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" size-lg="11">
              <div class="docs-details-title-h1">Members-Only Articles</div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-left">
            <ion-col size="12" class="doc-details">
              <ion-text>
                Another special feature supported by CloudBark is the ability to make articles exclusive to members.  For these articles, a preview of some content is shown to public users but the 
                full article content is <code class="code">Members-Only</code>.  In order for a reader to view the full article, they must register/login.<br/>
                <br/>
                There is no difference between a normal article and a <code class="code">Members-Only</code> article until the final moment of publishing.  Only Admin+ users may publish articles as 
                <code class="code">Members-Only</code>.  So, if the original article publisher has the role of Publisher, then an Admin+ will have to lock the article in order to publish it as a 
                <code class="code">Members-Only</code> article.<br/>
                <br/>
                At the moment that the Admin+ user goes to publish an article as <code class="code">Members-Only</code>, they will be presented an additional form where they must enter the markdown 
                of the preview shown to non-authenticated (public) users.  This is to ensure that there are no obvious HTML parsing issues and that the preview is exactly as desired.  In contrast, 
                the preview of articles shown on the main article home page is standardized to a certain number of characters.  The <code class="code">Members-Only</code> article preview is able 
                to be further customized to show public users exactly as much or as little as desired.
              </ion-text>
            </ion-col>
          </ion-row>
        </div>
        <div class="subscribe" *ngIf="!currentUser">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-lg="8" style="text-align:center">
              <ion-text color="secondary" style="font-weight:bold">Sign up now.  It's free!</ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto" style="text-align:center">
              <ion-button color="tertiary" href="register">Sign Up</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-lg="8" style="text-align:center">
              <ion-text color="primary" style="font-weight:bold;font-size:0.7em">Members can leave comments & feedback on blog posts and 
                receive our monthly newsletter to stay up to date with new project developments!</ion-text>
            </ion-col>
          </ion-row>
        </div>
        <ion-row>
          <ion-col style="padding:0;margin:0">
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
  
  <ion-footer class="ion-no-border">
    <ion-toolbar class="footer-toolbar">
      <ion-title size="small" class="footer-title"><b>CloudBark</b> Open Source | Copyright @ {{ currentYear }}</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
  