<ion-header>
  <ion-toolbar>
    <ion-title color="secondary">Successfully Registered!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" expand="block" shape="round" fill="outline" color="tertiary">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center cloud-icon">
      <ion-col size="auto">
        <ion-icon name="cloud-done" color="success"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-text color="success" ><h1 style="font-size:2em">Thanks for joining!</h1></ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="9">
        <ion-text color="success" style="text-align:center"><h2>Please check your email to confirm your new account.</h2></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
