<app-title-bar [pageTitle]="pageTitle"></app-title-bar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title color="primary">{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ pageTitle }}</strong>
    <p>Explore CloudBark FAQ's</p>
  </div>
</ion-content>
