ion-grid {
    padding: 0;
}

ion-row {
    margin: 0.5em;
}

ion-col {
    padding: 0;
}

ion-chip {
    margin: 0 0.35em;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--ion-color-primary);
    padding: 0 0.5em;
}

.author-col {
    margin: 0.4em 0 0.25em 0.25em;
}

.author-by {
    font-size: 0.5em;
    font-style: italic;
    font-weight: bold;
    opacity: 0.8;
}

.author {
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
    padding: 0.25em;
}

.last-updated {
    font-size: 0.75em;
    font-weight: bold;
    font-style: italic;
    opacity: 0.8;
    margin: 0.75em 0.5em;
}

.tag-zone {
    color: var(--ion-color-primary);
    text-align: center;
    font-size: 0.5em;
    margin: 0 1em;
    overflow-x: scroll !important;
}

.tag-label {
    padding: 0 0.5em;
    overflow: scroll;
    text-indent: 0;
}

.more-tags {
    font-size: 1.75em;
    font-weight: bold;
    padding: 0.55em;
    float: right;
}

.article-content-lg {
    width: 78vw;
    margin-top: 0.5em;
    padding: 0.5em;
    line-height: 1.5em;
    font-size: 1em;
    border: 0.075em solid var(--ion-color-primary);
    border-radius: 0.25em;
    border-style: inset;
}

.article-content {
    width: 94vw;
    margin-top: 0.5em;
    padding: 0.5em;
    line-height: 1.5em;
    font-size: 1em;
    border: 0.075em solid var(--ion-color-primary);
    border-radius: 0.25em;
    border-style: inset;
}

.title-link {
    padding-bottom: 1vh;
}

.title-link:focus {
    outline: 5;
    outline-color: var(--ion-color-primary);
}

ion-row.title-row > ion-col {
    text-indent: 1.5em;
}
