<ion-grid *ngIf="article">
  <ion-row class="ion-justify-content-left title-row" nowrap>
    <a class="title-link" [routerLink]="'/blog/view/' + article.slug">
      <ion-col size="auto" class="article-title">
        <ion-text size="large">{{ article.title.length > 30 ? article.title.substring(0, 30) + '...' : article.title }}</ion-text>
      </ion-col>
    </a>
    <ion-col size="auto" class="author-col">
      <ion-note class="author-by">BY </ion-note>
      <ion-text color="secondary" class="author">{{ article.author }}</ion-text>
    </ion-col>
    <ion-col size="auto" class="last-updated">
      <ion-note>{{ article.updatedAt }}</ion-note>
    </ion-col>
    <ion-col size="auto" class="tag-zone">
      <ion-chip *ngFor="let tag of article.tags.slice(0, maxPreviewTags); index as tagIdx" (click)="navChipTag(tag)">
        <ion-label class="tag-label">{{ tag }}</ion-label>
      </ion-chip>
      <div *ngIf="article.tags.length > maxPreviewTags" class="more-tags">
        <ion-text (click)="showAddlTags($event, article.tags.slice(maxPreviewTags))"><u>+{{ article.tags.length - maxPreviewTags }} more...</u></ion-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-left" nowrap>
    <ion-col size="12">
      <div [ngClass]="this.platform.width() >= 992 ? 'article-content-lg' : 'article-content'" [innerHTML]="article.previewText.substring(0, 450)"></div>
    </ion-col>
  </ion-row>
</ion-grid>
